-extends "weni/mail_base.html"
-load static i18n


{% block main-content %}
  %section(style="width: 574px; margin: 50px auto")
    %span(style="margin-left: 1px")
    %p(style="font-family: Lato, sans-serif, serif, EmojiFont; font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px; color: rgb(128, 128, 128); margin-top: 24px;")
      -blocktrans
        Dados na planilha em Excel sobre Webhooks do Projeto: <strong>{{ project_name }}</strong>.
{% endblock %}
