-load smartmin i18n humanize temba compress

-block extra-style
  :css
    #floweditor-feedback {
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      position: fixed;
      bottom: 150px;
      right: 16px;
      z-index: 9999;
    }

    #floweditor-feedback .launcher {
      position: relative;
      border-radius: 600px;
      border: 1px solid #E2E6ED;
      background: #FFF;
      box-shadow: 0px 12px 34px 0px rgba(0, 0, 0, 0.04);
      width: 62px;
      height: 62px;

      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;;
    }

    #floweditor-feedback .launcher:hover {
      cursor: pointer;
      background: #E2E6ED;
    }

    #floweditor-feedback .launcher.alert-badge::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #E53E3E;
      border-radius: 600px;
      right: 3px;
      top: 3px;
    }
    
    #floweditor-feedback .launcher img {
      padding: 16px;
    }

    #floweditor-feedback .content {
      width: 500px;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      border-radius: 4px;
      background: #F9F9F9;

      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    }

    #floweditor-feedback .content .rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    #floweditor-feedback .content .feedback {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    #floweditor-feedback .content .rate-again {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    #floweditor-feedback .content .rate-again .text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #floweditor-feedback .content .rate-again .text img {
      width: 48px;
      height: 48px;
      margin-bottom: 16px;
    }

    #floweditor-feedback .content .rate-again .text span {
      text-align: center;
      text-wrap: balance;
      color: #272B33;

      font-family: Lato;
      font-size: 14px;
      line-height: 22px;
    }

    #floweditor-feedback .content .rate-again .buttons {
      margin-top: 8px;
    }

    #floweditor-feedback .content .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      color: #3B414D;
      text-align: center;
      text-wrap: balance;

      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 24px;
    }

    #floweditor-feedback .content .header .close-icon {
      background-color: #4E5666;
      opacity: 1;
      cursor: pointer;
      align-self: flex-end;
    }

    #floweditor-feedback .content .options {
      display: flex;
      gap: 8px;
    }

    #floweditor-feedback .content .options .option {
      display: flex;
      width: 67px;
      height: 67px;
      padding: 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      color: var(--neutral-black, #272B33);
      text-align: center;

      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      border-radius: 4px;
      background: rgba(249, 249, 249, 1);
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;;
    }

    #floweditor-feedback .content .options .option:hover {;
      background: rgba(226, 230, 237, 1);
      cursor: pointer;
    }

    #floweditor-feedback .content .options .option.selected {
      border: 1px solid #00A49F;
      background: #EEFFFC;
    }

    #floweditor-feedback .content .options img {
      width: 24px;
      height: 24px;
    }

    #floweditor-feedback .content .opaque {
      opacity: 0;
    }

    #floweditor-feedback .content .bottom {
      color: #272B33;
      text-align: center;

      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    #floweditor-feedback .content #feedback-textarea {
      margin-bottom: 8px;

      outline: none;
      height: 80px;
      width: 100%;
      resize: none;
      box-sizing: border-box;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #E2E6ED;
      background: #FFF;

      color: #4E5666;
      font-family: Lato;
    }

    #floweditor-feedback .content #feedback-textarea::placeholder {
      color: #67738B;
      font-family: Lato;
      font-size: 14px;
      line-height: 22px;
      opacity: 0.7;
    }

    #floweditor-feedback .content #feedback-textarea:focus {
      border-color: #9CACCC;
    }

    #floweditor-feedback .content #feedback-textarea:focus::placeholder {
      color: #D0D3D9;
    }

    #floweditor-feedback .content .buttons {
      display: flex;
      gap: 32px; 
    }

    #floweditor-feedback .content .buttons #send-feedback {
      background: #00A49F;
    }

    #floweditor-feedback .content .buttons #send-feedback:hover {
      opacity: 0.8;
    }

    #floweditor-feedback .content .buttons #skip-feedback {
      border: 1px solid transparent;
    }

    #floweditor-feedback .content .buttons #skip-feedback:hover {
      border: 1px solid #E2E6ED;
    }

    .slide-in-left {
      -webkit-animation: slide-in-left 0.75s ease both;
              animation: slide-in-left 0.75s ease both;
    }
    @-webkit-keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-200px);
                transform: translateX(-200px);
        opacity: 0;
      }
      70% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 0.7;
      }
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-200px);
                transform: translateX(-200px);
        opacity: 0;
      }
      70% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 0.7;
      }
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
    }

    .fade-in {
      -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @-webkit-keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .fade-out {
      -webkit-animation: fade-out 0.3s ease-out both;
              animation: fade-out 0.3s ease-out both;
    }
    @-webkit-keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    #success-toast {
      position: fixed;
      bottom: 16px;
      right: 16px;
      border-radius: 4px;
      background: #FFF;

      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    #success-toast .toast-content {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    #success-toast .toast-content .toast-icon {
      background-color: #47D66F;
    }

    #success-toast .toast-content .toast-text {
      color: #3B414D;

      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }

    #success-toast .toast-content .toast-close-button {
      color: #CCC;
      text-align: right;

      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }



#floweditor-feedback
  .content.hidden
    .rating
      .header
        %span.close-icon.weni-unnnic-icon-close-1.weni-unnnic-icon-sm{onclick: "toggleFeedback()"}
        %span.text
          {{ _("How has your experience with the flow editor features been this week?") }}

      .options
        #option1.option{onclick:"saveRating(1)"}
          %img{src:"{{STATIC_URL}}images/emoji/terrible.png"}
          %span
            {{ _("Terrible") }}

        #option2.option{onclick:"saveRating(2)"}
          %img{src:"{{STATIC_URL}}images/emoji/bad.png"}
          %span
            {{ _("Bad") }}
        
        #option3.option{onclick:"saveRating(3)"}
          %img{src:"{{STATIC_URL}}images/emoji/satisfactory.png"}
          %span
            {{ _("Satisfactory") }}

        #option4.option{onclick:"saveRating(4)"}
          %img{src:"{{STATIC_URL}}images/emoji/good.png"}
          %span
            {{ _("Good") }}

        #option5.option{onclick:"saveRating(5)"}
          %img{src:"{{STATIC_URL}}images/emoji/excellent.png"}
          %span
            {{ _("Excellent") }}

      %span#rating-thanks.opaque.bottom
        {{ _("Thank you for the review!") }}

    .feedback.hidden
      .header
        %span.close-icon.weni-unnnic-icon-close-1.weni-unnnic-icon-sm{onclick: "toggleFeedback()"}
        %span.text
          {{ _("Want to add a comment to your review?") }}

      {% translate "Write here..." as textarea_placeholder %}
      %textarea#feedback-textarea{placeholder:"{{ textarea_placeholder }}"}

      .buttons.w-full
        #skip-feedback{class: "weni-unnnic-button weni-unnnic-button--terciary weni-unnnic-button--size-large w-full", onclick:"toggleFeedback()"}
          {{ _("Ignore") }}
        #send-feedback{class: "weni-unnnic-button weni-unnnic-button--primary weni-unnnic-button--size-large w-full", onclick:"sendFeedback()"}
          {{ _("Submit comment") }}

    .rate-again.hidden
      .header
        %span.close-icon.weni-unnnic-icon-close-1.weni-unnnic-icon-sm{onclick: "toggleFeedback()"}
        %span.text
          {{ _("Thank you!") }}

      .text
        %img{src:"{{STATIC_URL}}images/emoji/excellent.png"}
        %span
          {{ _("You have already rated your experience this week,") }}
        %span
           {{ _("would you like to rate it again?") }}

      .buttons.w-full
        #skip-feedback{class: "weni-unnnic-button weni-unnnic-button--terciary weni-unnnic-button--size-large w-full", onclick:"toggleFeedback()"}
          {{ _("Close") }}
        #send-feedback{class: "weni-unnnic-button weni-unnnic-button--primary weni-unnnic-button--size-large w-full", onclick:"restartRating()"}
          {{ _("Rate again") }}

  %div.launcher.hidden{onclick: "toggleFeedback()"}
    %img{src:"{{STATIC_URL}}images/emoji/man-detective.png"}


#success-toast.hidden
  .toast-content
    .toast-icon.weni-unnnic-check-circle-1-1.weni-unnnic-icon-sm
    .toast-text
      {{ _("Your review has been submitted! Thank you.") }}
    .toast-close-button{onclick:"hideSuccessToast()"}
      {{ _("CLOSE") }}

-block extra-script
  %script{type:"module"}
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js";
    import { getAuth, signInAnonymously } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth.js";
    import { getFirestore, doc, collection, addDoc, setDoc, getDoc, updateDoc, arrayUnion } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-firestore.js";

    const firebaseConfig = {
      apiKey: "{{ firebase_api_key }}",
      authDomain: "{{ firebase_auth_domain }}",
      projectId: "{{ firebase_project_id}}",
      storageBucket: "{{ firebase_storage_bucket }}",
      messagingSenderId: "{{ firebase_messaging_sender_id }}",
      appId: "{{ firebase_app_id}}",
      measurementId: "{{ firebase_measurement_id }}"
    };
    const feedbacksCollection = "feedbacks";
    const usersCollection = "users";

    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);
    const auth = getAuth();

    let lastRatingRef = null;
    let toggleTimeoutId = null;

    try {
      await signInAnonymously(auth)

      const userData = await getUserData();
      if (!userData) {
        showAlertBadge();
      } else {
        const { lastFeedbackTime, lastFeedbackId } = userData;
        if (lastFeedbackTime) {
          lastRatingRef = lastFeedbackId;
          const diff = getLastFeedbackDiff(lastFeedbackTime);
          if (diff > 0) {
            showAlertBadge();
          } else {
            changeToRateAgain();
          }
        } else {
          showAlertBadge();
        }
      }

      showFeedbackLauncher();
    } catch (error) {
      hideFeedbackLauncher();
    }

    async function saveRatingResponse(rating) {
      lastRatingRef = null;
      const userEmail = '{{ user.email|escapejs }}';
      const userName = '{{ user.name|escapejs }}';
      const createdOn = new Date().toISOString();

      try {
        const userData = await getUserData();

        if (userData) {
          const { lastFeedbackTime, lastFeedbackId } = userData;
          if (lastFeedbackTime) {
            const diff = getLastFeedbackDiff(lastFeedbackTime);
            if (diff > 0) {
              await addFeedback(userEmail, userName, rating, createdOn);
            } else {
              const ratingRef = doc(db, feedbacksCollection, lastFeedbackId);
              await updateDoc(ratingRef, {
                rating,
              });
              lastRatingRef = lastFeedbackId;
            }
          } else {
            await addFeedback(userEmail, userName, rating, createdOn);
          }
        } else {
          await addFeedback(userEmail, userName, rating, createdOn);
        }
      } catch (e) {
        lastRatingRef = null;
      }
      setUserLastFeedback(lastRatingRef);
    }

    async function saveFeedbackResponse(feedback) {
      const userEmail = '{{ user.email|escapejs }}';
      const feedbackDate = new Date().toISOString();

      const ratingRef = doc(db, feedbacksCollection, lastRatingRef);

      await updateDoc(ratingRef, {
        feedback: feedback.trim(),
      });

      setUserLastFeedback(lastRatingRef);
      lastRatingRef = null;
    }

    async function addFeedback(userEmail, userName, rating, createdOn) {
      const docRef = await addDoc(collection(db, feedbacksCollection), {
        userEmail,
        userName,
        rating,
        createdOn,
      });

      lastRatingRef = docRef.id;
      return docRef;
    }

    async function getUserData() {
      const userEmail = '{{ user.email|escapejs }}';
      const userRef = doc(db, usersCollection, userEmail);
      const userSnap = await getDoc(userRef);

      if (userSnap.exists()) {
        return userSnap.data();
      } else {
        return null;
      }
    }

    async function setUserLastFeedback(feedbackId) {
      if (feedbackId) {
        const userEmail = '{{ user.email|escapejs }}';
        const userRef = doc(db, usersCollection, userEmail);
        const userSnap = await getDoc(userRef);

        if (userSnap.exists()) {
          await updateDoc(userRef, {
            lastFeedbackTime: new Date().getTime(),
            lastFeedbackId: feedbackId,
          });
        } else {
          await setDoc(userRef, {
            lastFeedbackTime: new Date().getTime(),
            lastFeedbackId: feedbackId,
          });
        }
      }
    }

    window.saveRatingResponse = saveRatingResponse;
    window.saveFeedbackResponse = saveFeedbackResponse;
    window.getUserData = getUserData;

  :javascript
    let showRateAgain = false;

    function debounce(func, timeout = 1000){
      let timer;
      return (...args) => {
        if (!timer) {
          func.apply(this, args);
        }
        clearTimeout(timer);
        timer = setTimeout(() => {
          timer = undefined;
        }, timeout);
      };
    }

    function getLastFeedbackDiff(lastFeedback) {
      const today = new Date();
      today.setHours(0, 0, 0, 0)
      const prevMonday = new Date();
      prevMonday.setDate(today.getDate() - (today.getDay()||7));
      prevMonday.setHours(0, 0, 0, 0)
      return prevMonday.getTime() - lastFeedback;
    }

    function showAlertAndDelay() {
      showAlertBadge();
      delayedToggle();
    }

    function delayedToggle() {
      toggleTimeoutId = setTimeout(() => {
        if ($('.content').hasClass('hidden')) {
          toggleFeedback();
        }
      }, 120000)
    }

    function clearDelayTimeout() {
      if (toggleTimeoutId) {
        clearTimeout(toggleTimeoutId);
        toggleTimeoutId = null;
      }
    }

    function showAlertBadge() {
      const launcher = $('.launcher');
      launcher.addClass('alert-badge');
    }

    function hideAlertBadge() {
      const launcher = $('.launcher');
      launcher.removeClass('alert-badge');
    }

    function hideFeedbackLauncher() {
      const launcher = $('.launcher');
      launcher.addClass('fade-out');
      launcher.addClass('hidden');
    }

    function showFeedbackLauncher() {
      const launcher = $('.launcher');
      launcher.addClass('fade-in');
      launcher.removeClass('fade-out');
      launcher.removeClass('hidden');
    }

    const toggleFeedback = debounce(async () => {
      const content = $('.content');

      if (content.hasClass('hidden')) {
        const userData = await getUserData();
        if (userData) {
          const { lastFeedbackTime } = userData;
          if (lastFeedbackTime) {
            const diff = getLastFeedbackDiff(lastFeedbackTime)
            if (diff < 0 && showRateAgain) {
              changeToRateAgain();
            }
          }
        }
        content.addClass('fade-in');
        content.removeClass('hidden');
      } else {
        content.removeClass('fade-in');
        content.addClass('fade-out');
        setTimeout(hideContent, 250);
      }

      hideAlertBadge();
      clearDelayTimeout();
    }, 250)

    function hideContent() {
      const content = $('.content');
      content.removeClass('fade-out');
      content.addClass('hidden');
    }

    const saveRating = debounce((rating) => {
      function showOnlySelected() {
        $("div[id^='option']").hide();

        option.show();
        option.addClass('slide-in-left');
        $("#rating-thanks").css('opacity', "1");
      }

      saveRatingResponse(rating);
      const option = $(`#option${rating}`);
      option.addClass('selected');

      setTimeout(showOnlySelected, 250);

      setTimeout(changeToFeedback, 2000);
      $("div[id^='option']").removeClass('fade-out');
      clearDelayTimeout();
    })

    function changeToFeedback() {
      const rating = $('.rating');
      const feedback = $('.feedback');

      rating.addClass('fade-out');
      rating.hide();
      feedback.addClass('fade-in');
      feedback.removeClass('hidden');
      feedback.css('display','flex');
    }

    function changeToRating() {
      const rating = $('.rating');
      const feedback = $('.feedback');
      const rateAgain = $('.rate-again');

      feedback.removeClass('fade-out');
      feedback.removeClass('fade-in');
      feedback.hide();
      rateAgain.removeClass('fade-out');
      rateAgain.removeClass('fade-in');
      rateAgain.hide();
      rating.removeClass('fade-out');
      rating.addClass('fade-in');
      rating.removeClass('hidden');
      rating.css('display','flex'); 

      $("#rating-thanks").css('opacity', "0");
      $("div[id^='option']").show();
      $("div[id^='option']").removeClass('selected');
      $("div[id^='option']").removeClass('slide-in-left');
    }

    const sendFeedback = debounce(() => {
      const feedback = $('#feedback-textarea').val();
      if (feedback && feedback.trim()) {
        saveFeedbackResponse(feedback);
        toggleSuccessToast();
      }
      toggleFeedback();

      showRateAgain = true;
      setTimeout(changeToRateAgain, 500);
      $('#feedback-textarea').val("");

      isInFeedback = false;
      clearDelayTimeout();
    })

    function toggleSuccessToast() {
      const toast = $('#success-toast');
      toast.removeClass('hidden');
      setTimeout(hideSuccessToast, 5000);
    }

    function hideSuccessToast() {
      const toast = $('#success-toast');
      toast.addClass('fade-out');
      setTimeout(hideToast, 500);
    }

    function hideToast() {
      const toast = $('#success-toast');
      toast.addClass('hidden');
      toast.removeClass('fade-out');
    }

    function changeToRateAgain() {
      const rating = $('.rating');
      const feedback = $('.feedback');
      const rateAgain = $('.rate-again');

      rating.addClass('fade-out');
      rating.hide();
      feedback.addClass('fade-out');
      feedback.hide();
      rateAgain.addClass('fade-in');
      rateAgain.removeClass('hidden');
      rateAgain.css('display','flex');
    }

    const restartRating = debounce(() => {
      const rateAgain = $('.rate-again');
      rateAgain.addClass('fade-out');
      showRateAgain = false;

      setTimeout(changeToRating, 500);
    })