-load smartmin i18n humanize temba compress

#unnnic-modal.hidden{class: "weni-unnnic-modal"}

  %div{class: "weni-unnnic-modal-container"}
    #close-modal.weni-unnnic-icon-close-1.weni-unnnic-icon-sm{class: "weni-unnnic-modal-close"}

    %span{class: "weni-unnnic-modal-title"}
      -blocktrans trimmed
        How to use triggers
    
    %div#step-1{class: "weni-unnnic-modal-content"}
      %img{class: "onboard-gif", src:"/sitestatic/brands/push/trigger1.gif"}

      %div{class: "onboard-scrollable"}
        -blocktrans trimmed
          In triggers, one of the possibilities is to create a keyword to trigger a specific flow for your contacts.
        %ol{class: "onboard-list"}
          %li
            -blocktrans trimmed
              Access the studio module and click on “Triggers”. Then, click the “Create triggers” button.
          %li
            -blocktrans trimmed
              Choose the card, “Create a keyword that starts a flow”.
          %li
            -blocktrans trimmed
              Add a keyword and define the flow that will be started, and click on “Create Triggers” and you're done!

    %div#step-1-buttons{class: "weni-unnnic-modal-buttons"}
      %button{class: "weni-unnnic-button weni-unnnic-button--secondary weni-unnnic-button--size-large w-full", onclick:"nextStep()"}
        -blocktrans trimmed
          Next

    %div#step-2.hidden{class: "weni-unnnic-modal-content"}
      %img{class: "onboard-gif", src:"/sitestatic/brands/push/trigger2.gif"}

      %div{class: "onboard-scrollable"}
        -blocktrans trimmed
          In triggers you can also schedule when a message flow should be triggered for your contacts.
        %ol{class: "onboard-list"}
          %li
            -blocktrans trimmed
              For this, click on “Start a flow daily or by schedule”, define the day and time of the trigger.
          %li
            -blocktrans trimmed
              Choose the weekly frequency you want to trigger.
          %li
            -blocktrans trimmed
              Add the contact groups to which you want to send the messages. Finally, click on “Create Trigger”.

    %div#step-2-buttons.hidden{class: "weni-unnnic-modal-buttons"}
      %button{class: "weni-unnnic-button weni-unnnic-button--tertiary weni-unnnic-button--size-large w-full", onclick:"previousStep()"}
        -blocktrans trimmed
          Back
      %button{class: "weni-unnnic-button weni-unnnic-button--secondary weni-unnnic-button--size-large w-full", onclick:"complete()"}
        -blocktrans trimmed
          Start

-block extra-script
  :javascript
    let hideOnboardTriggerModal = sessionStorage.getItem('hideOnboardTriggerModal')

    if (!hideOnboardTriggerModal) {
      $("#unnnic-modal").css('display','flex');
    }

    let currentStep = 1;

    function nextStep() {
      $(`#step-${currentStep}, #step-${currentStep}-buttons`).css('display','none'); 
      $(`#step-${currentStep + 1}, #step-${currentStep + 1}-buttons`).css('display','flex'); 
      currentStep += 1;
    }

    function previousStep() {
      $(`#step-${currentStep}, #step-${currentStep}-buttons`).css('display','none'); 
      $(`#step-${currentStep - 1}, #step-${currentStep - 1}-buttons`).css('display','flex'); 
      currentStep -= 1;
    }

    function complete() {
      $("#unnnic-modal").hide()
      sessionStorage.setItem('hideOnboardTriggerModal', '1')
    }

    $("#close-modal").live('click', (event) => {
      complete()
    })
