# .coveragerc to control coverage.py
[run]
source = ./temba
parallel = true
concurrency = multiprocessing

[report]
ignore_errors = True
precision = 0
show_missing = True
skip_covered = True
exclude_lines = 
    pragma: no cover
    pragma: needs cover
    pragma: can't cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

omit =
    */gen/*
    */tests*
    *__init__*
    *settings*
    temba/event_driven/publisher/*
    temba/event_driven/connection/*
    temba/event_driven/handle.py
    temba/*/management/commands/*

[html]
directory = coverage_html_report
