node_modules
sitestatic
env
.env
temba/settings.py
.git
.github
Dockerfile
.dockerignore
.gitignore
usr
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
coverage
npm-debug.log*
yarn-error.log*
.cache
.vscode
.idea
.DS_Store
cache-*
var-cache-apt
var-lib-apt
pip_cache
npm_cache
docker/*.txt
docker/*.log
temba/**/tests/**
test-data/**
