-extends "smartmin/update.html"
-load smartmin
-load i18n

-block title
  {{title}}


-block extra-script
  {{ block.super }}
  :javascript
    $(function() {
      $(".formax-icon, .formax-summary").on('click', function(){
        $(this).parents(".formax-section").toggleClass('open');
        $(this).parents(".formax-section").siblings('formax-section').removeClass('open');
      });
    });