.attachment
  -if category == 'image'
    .attachment-preview.button-light.rounded-r-none(onclick="event.stopPropagation(); event.preventDefault(); openMediaModal(this.getAttribute('href'), 'image')" href="{{url}}")
      .attachment-icon.icon-photo
      {{preview}}

  -elif category == 'audio' and is_playable
    .attachment-preview.button-light.rounded-r-none(onclick="event.stopPropagation(); event.preventDefault(); openMediaModal(this.getAttribute('href'), 'audio')" href="{{url}}")
      .attachment-icon.icon-volume-medium
      {{preview}}

  -elif category == 'video' and is_playable
    .attachment-preview.button-light.rounded-r-none(onclick="event.stopPropagation(); event.preventDefault(); openMediaModal(this.getAttribute('href'), 'video')" href="{{url}}")
      .attachment-icon.icon-videocam
      {{preview}}

  -elif category == 'geo'
    .attachment-preview.button-light(onclick="goto(event)" href="{{url}}" target="_loc" )
      .attachment-icon.icon-pin_drop
      {{preview}}

  -else
    .attachment-preview.button-light.rounded-r-none(onclick="goto(event, this)" href="{{url}}" download="true")
      .attachment-icon.icon-docs
      {{preview}}

  -if category != 'geo'
    .attachment-download.rounded-l-none.button-light(onclick="goto(event, this)" href="{{url}}" download="true")
      .icon-file_download