{% extends "email_base.html" %}
{% load i18n %}

{% block body %}
<p>
    {% trans "Hi there" %}
</p>
<p>
    {% trans "Someone has requested that the password for this email address be reset." %}
</p>
<p>
    {% blocktrans trimmed with email=user.username  %}
    Click the following link to reset the password for the account {{ email }}:
    {% endblocktrans %}
</p>
<p align="center">
    <a href='{{ branding.link }}{{ path }}'>Reset password</a>
</p>
<p>
    {% trans "If you didn't request this, don't worry. This email was only sent to you and your account remains secure." %}
</p>
<p>
    {% trans "Thank you. Don't reply to this email." %}
</p>

{% endblock body %}