-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  %p#fb-status
    -if error_connect
      -trans "Error with token, you need to reconnect the Facebook page by clicking the button below"
    -else
      -trans "Everything looks good. No need to reconnect"

-block form
  .mt-4.card
    #fb-channel-error.mb-4(style="display:none;")
      %p
        -trans "Error reconnecting Facebook page. Please retry"

    #fb-app-connect.flex
      .button-primary.connect-facebook
        -trans "Reconnect Facebook page"

    %form#refresh-token-form(style="display:none;" method="POST" action="{{ refresh_url }}")
      {% csrf_token %}
      %input#fb-user-id(type="text" name="fb_user_id")
      %input#user-access-token(type="text" name="user_access_token")

-block extra-script
  {{ block.super }}

  :javascript
    $(document).ready(function(){
      $(".connect-facebook").click(function(evt){
        location.replace("https://www.facebook.com/v12.0/dialog/oauth?client_id={{ facebook_app_id }}&redirect_uri=" + window.location.origin + window.location.pathname + "&scope=pages_messaging,pages_show_list,pages_manage_metadata,pages_read_engagement&response_type=token")

      });

      var hash = window.location.hash.substring(1)
      var result = hash.split('&').reduce(function (res, item) {
        var parts = item.split('=');
        res[parts[0]] = parts[1];
        return res;
      }, {});
      var accessToken = result.long_lived_token || result.access_token;
      $.ajax({
        type: "GET",
        url: "https://graph.facebook.com/me?access_token=" + access_token,
        dataType: "json",
        success: function(response, status, xhr){
          $("#fb-user-id").val(response.id);
          $("#user-access-token").val(access_token);
          $("#refresh-token-form").submit();
        },
        failure: function(req){
        }
      }); 
    });